body {
    background-color:#CE2829 ;
  }
  
  .h1-baslik{
    text-align: center;
    font-size: 3rem;
  }
 
  .p-cevap{
    justify-content: center;
    padding-left: 32rem;
    padding-right: 35rem ;
    margin-top: 10rem;
  }